<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(list.errors.count, "erro") %> proibiu esta lista de ser salva:</h2>
      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="flex-direction: column;">
    <%= form.label :title, "Título" %>
    <%= form.text_field :title, class: "input large" %>
  </div>

  <div class="field" style="flex-direction: column;">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, class: "textarea large" %>
  </div>

  <div class="actions">
    <%= form.submit list.new_record? ? "Criar Lista" : "Editar Lista", class: "create-btn" %>
  </div>
<% end %>
