<div class="modal fade" id="confirmModal-<%= list.id %>" tabindex="-1" aria-labelledby="confirmModalLabel-<%= list.id %>" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel-<%= list.id %>">Confirmação</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
        Tem certeza de que deseja excluir esta lista? Esta ação não pode ser desfeita.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <%= form_with url: list_path(list), method: :delete, html: { style: "display: inline;" } do %>
            <%= submit_tag 'Excluir', class: 'btn btn-danger' %>
        <% end %>
        </div>
    </div>
    </div>
</div>